{% extends "base.html" %}

{%block contents%}
<form method="post" action="/post/{{key}}">
<h2>タイトル</h2><input type="text" name="title" value="{{entry.title}}" style="width:400px"/>
<h2>本文</h2><textarea name="body" style="width:400px;height:300px;">{{entry.body}}</textarea>
<h2>タグ</h2><input type="text" name="tags" value="{{entry.tagStr}}" style="width:400px"/>
<h2>公開日時</h2><input type="text" name="datetime" value="{{entry.formattedDatetimeInJST}}"style="width:400px;">
<h2>公開ステータス</h2>
<label><input type="radio" value="0" name="public"{%if not entry.public%} checked="checked"{%endif%}>非公開</label>
<label><input type="radio" value="1" name="public"{%if entry.public%} checked="checked"{%endif%}>公開</label>
<h2>画像 [<a href="/uploader" target="_blank">uploader</a>]</h2>
<div>
{%if key%}
<input type="button" value="delete" onclick="if(confirm('Are you sure to delete it?'))location.href='/delete/{{key}}'"/>
{%endif%}
<input type="submit" value="submit"/>
</div>
</form>
{%endblock contents%}
